@model Quiz


<form method="post">
<input class="btn btn-primary" placeholder="Email"  asp-for="Email"/>
<span asp-validation-for="Email" class="text-danger"></span>
<input class="btn btn-secondary" placeholder="Mobile"  asp-for="Mobile" />
<span asp-validation-for="Mobile" class="text-danger"></span>
<button asp-controller="Account" asp-action="Register">Register</button>
</form>



@section Scripts{
           <partial  name="_ValidationScriptsPartial" />
    }